#contact {
    background: #BCA37F;
    
    height: 50vh;
}

.contact {
    text-align: center;
    color: #113946;

}

.contact-title {
    font-family: 'Kenia', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--size-6xl);
    letter-spacing:0.5rem;
    font-weight: 900;
    padding:3rem;
}